
<!-- card with canvas -->
  <div class="col-sm-6 col-md-4  card" ng-mouseout="offCanvas = true" ng-mouseover="offCanvas = false" ng-model="drawing">
  <div class="">
     <canvas  id="canvas" width="500" height="400"></canvas>
      <div id="caption" class="caption">
        <h3 class="title">{{ drawing.word }}</h3>
      </div>
    </div>
  </div>




<!-- buttons -->
<div class="buttons edit-buttons">

<p ng-if="offCanvas" class="btn make-btn" ng-click="patch()" ><span class="glyphicon glyphicon-save" aria-hidden="true" title="save edit"></span></p> 
<p ng-if="offCanvas" class="btn make-btn" ng-click="removeLastStroke()"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></p>
<p ng-if="offCanvas" class="btn make-btn" ng-click="deleteAttempt()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></p>

</div>

<!-- end buttons -->

<!-- ngToast -->
<toast id="success-message"></toast>


  



