#login-container {

	height: 30%;
	margin-top: 10%;
	text-align: center;
}
 #enso{
 	margin-top: 50px;
 	margin-bottom: 40px;
 }

 #welcome{
 	font-weight: 400;
 	margin-bottom: 20px;
 }

 .login-card{
 	border: none !important;
 	box-shadow: none !important;
 }
