  
<!-- heading -->
  
  <div id="user-info" ng-model="userObj">
  	<div class="hanko">
  	ケー<br>シー	
  	</div>
    <h1 id="user-name"> {{ userObj.displayName }} </h1>
  </div>

<!-- card container -->
  <div class="row card-container">
    <div class="col-sm-6 col-md-4 card" ng-repeat="drawing in paths">
        <a ng-click="edit(drawing)"><canvas class="canvas" width="400" height="400" id="{{ drawing.drawingID }}"></canvas></a>   
    </div> 
  </div>


  
  <a ng-href="#!/find" class="hanko">go to find page</a>



