  
<!-- heading -->
  <div class="jumbotron">
  <div id="user-info">
  	<div class="hanko">
  	ケー<br>シー	
  	</div>
    <h1 id="user-name"> Casey Dailey </h1>
  </div>
</div>

  <div class="row card-container">
  <!-- card -->
    <div class="col-sm-6 col-md-4 card">
      <div class="thumbnail">
        <img ng-src="/zen-circle-images/breath.jpg" alt="">
        
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img ng-src="/zen-circle-images/breath.jpg" alt="">
        
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img ng-src="/zen-circle-images/breath.jpg" alt="">
        
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img ng-src="/zen-circle-images/breath.jpg" alt="">
        
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img ng-src="/zen-circle-images/breath.jpg" alt="">
        
      </div>
    </div> 
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img ng-src="/zen-circle-images/breath.jpg" alt="">
        
      </div>
    </div> 
  <!-- end card -->

  <h1>home is connected</h1>
  <a ng-href="#!/find">click to go to find</a>



