#canvas-container{
	/*text-align: center;*/
}

#canvas{
	
	
	text-align: center;
}

.buttons{
	margin-top: 3em;
	margin-right: 44%;
}

.make-btn{
	border: none;
}

#caption{
	text-align: center;
}

toast{
	list-style: none;
}

#success-message{

	
	max-width: 20%;
	list-style: none;

}







