
  <div class="col-sm-12 col-md-3 col-lg-4  card" ng-mouseout="offCanvas = true" ng-mouseover="offCanvas = false">
  
     <canvas  id="canvas" width="500" height="400"></canvas>
      <div class="caption" id="caption">
        <h3 >{{ word }}</h3>
        </div>
    
  </div>





<div class="container">
 
  

  <!-- Modal -->
  <!-- <div class="modal fade" id="save-modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <!-- <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Drawing Saved!</h4>
        </div>
        <div class="modal-body">
          <p>Click ok to return home and put it with your other work</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="" data-dismiss="modal" ng-click="save()">ok</button>
        </div>
      </div>
      
    </div>
  </div> --> 

  <!-- data-toggle="modal" data-target="#save-modal"  THIS GOES BACK ON THE BUTTON -->
  
</div>

         <div  ng-if="saving" class="alert alert-succes" role="alert">
           <p>Drawing saved!</p>
         </div>


<!-- buttons -->
<div class="buttons">

<p ng-if="offCanvas" class="btn make-btn" ng-click="save()" ><span class="glyphicon glyphicon-save" aria-hidden="true" title="save"></span></p> 
<p ng-if="offCanvas" class="btn make-btn" ng-click="removeLastStroke()"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></p>
<p ng-if="offCanvas" class="btn make-btn" ng-click="deleteAttempt()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></p>

<!-- <p ng-if="offCanvas" class="btn make-btn" ng-click="goHome()"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></p>

<p ng-if="offCanvas" class="btn make-btn" ng-click="goToFind()"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></p>
</p>
 -->
</div>


  



