#canvas-container{
	/*text-align: center;*/
}

#canvas{
	margin-left: 50px;
}

.make-card{
	margin-top: 15%;
	margin-left: 
}

.buttons{
	margin-top: 3em;
	margin-right: 44%;
}

.make-btn{
	border: none;
}

#caption{
	text-align: center;
}

toast{
	list-style: none;
}

#success-message{

	
	max-width: 20%;
	list-style: none;

}







