.navbar-form{
	text-align: center;
}
.form-control {
	border: 0;
}

.btn {
	border: 0;
}

.row{
	text-align: center;
}

.character{
	font-size: 15em;
}

#canvas{
	margin-top: 50px;
	text-align: center;
	/*border: 2px solid red;*/
}

