/********

search form

***********/


.navbar-form{
	padding-top: 10em;
	text-align: center;
	font-weight: 400;
}
.form-control {
	border: 0;
	font-size: 2em;
	font-weight: 200;
}

.form-control-grey:focus {
  border-color: #999;
  outline: 0;
  box-shadow: 2px 2px .5px lightgrey;
  

}

/*******

character card

**********/
.caption{
	margin-bottom: 20px;
}

.btn {
	border: 0;
	margin: 10px;
}

.row{
	text-align: center;
}

.character{
	font-size: 20em;

}

.card{
	margin-top: 5%;
	border: .25px solid gainsboro;
	box-shadow: 2px 2px 1px lightgrey;
	margin-left: 33%;
}


.btn{
	float: right;
	border: 2px solid red;
	box-shadow: .5px .5px .1px lightgrey;
} 


